@import '../custom-theme.scss';
.main-content{

    padding-top: 100px;
    // text-align: center;
    max-width: 100%;
    padding-bottom: 10px;
    left:0px;
    
}
footer {
    text-align: center;
    position: fixed;
    width: 100%;
    color: white;
    bottom: 0px;
    left: 0px;
    background-color:#313131;
  }


