.toolbar-header{
    width: 100%;
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    z-index: 499;
    display: flex; 
    justify-content: flex-end;
  //  flex: 1;
   // flex-direction: row;
}