<!--Outdoor Navigation Map controller-->
<div class="map-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
  <div class="route" fxLayoutAlign="flex-start">
    <form [formGroup] ="navigationForm" class="normal-form">
      <div 
      fxLayout="column"
      fxLayout.xs="column"
      fxLayoutGap="20px"
      fxLayoutAlign="center">
  
      <mat-form-field>
        <mat-select
          placeholder="FROM"
          [(ngModel)]="fromBuilding"
          formControlName="fromRoom"
        >
        <mat-option *ngFor="let element of buildingsList" [value]="element.building_name">
          {{element.building_name}}
        </mat-option></mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
        placeholder="TO"
        [(ngModel)]="toBuilding"
        formControlName="toRoom"
        >
        <mat-option *ngFor="let element of buildingsList" [value]="element.building_name">
          {{element.building_name}}
        </mat-option></mat-select>
      </mat-form-field>
    <button class="find-button"
    mat-raised-button
    color="primary"
    type="submit"
    (click)="drawLine()"
    >
    Search
    </button>
  </div>
  
    </form>
  </div>

  <!--Outdoor Navigation Map-->
  <div class="map-frame" fxLayoutAlign="flex-end">
    
  
    <div id="map">
      
    </div>
  </div>
</div>
  
