<div class="bgimage-start screen-only" style="height: unset;">
  <div id="headerImage" class="img-full-bg  show" style="background-image: url('../../assets/THD.webp'); height: 800px;">
  <div class="img-overlay"></div>
  <!-- <a id="minHeader" class="screen-only max" style="top: 775px; color: white;"><i class="fa fa-chevron-up"></i><span>Header minimieren</span></a> -->

  </div>           
</div>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="Search"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="5px">
  <mat-card class="example-card" *ngFor="let event of temp_events" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title *ngIf="lang_sel">{{event.event_name_en}}</mat-card-title>
      <mat-card-title *ngIf="!lang_sel">{{event.event_name_de}}</mat-card-title>
      <!--<mat-card-subtitle></mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="lang_sel">
        {{event.event_desc_en}}
      </p>

      <p *ngIf="!lang_sel">
        {{event.event_desc_de}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [matBadge]="event.numLike" matBadgeColor="success" (click)="eventLike(event._id,event.numLike,event.numDisLike)"><mat-icon>thumb_up_alt</mat-icon></button>
      <button mat-button [matBadge]="event.numDisLike" matBadgeColor="warn" (click)="eventDisLike(event._id,event.numLike,event.numDisLike)"><mat-icon>thumb_down_alt</mat-icon></button>
    </mat-card-actions>
  </mat-card></div>
  
  <mat-divider></mat-divider>

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="5px">
    <mat-card class="example-card1" *ngFor="let n of temp_news" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title *ngIf="lang_sel">{{n.news_name_en}}</mat-card-title>
        <mat-card-title *ngIf="!lang_sel">{{n.news_name_de}}</mat-card-title>
        <!--<mat-card-subtitle></mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="lang_sel">
          {{n.news_desc_en}}
        </p>

        <p *ngIf="!lang_sel">
          {{n.news_desc_de}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [matBadge]="n.numLike" matBadgeColor="success" (click)="newsLike(n._id,n.numLike,n.numDisLike)"><mat-icon >thumb_up_alt</mat-icon></button>
      <button mat-button [matBadge]="n.numDisLike" matBadgeColor="warn" (click)="newsDisLike(n._id,n.numLike,n.numDisLike)"><mat-icon>thumb_down_alt</mat-icon></button>
      </mat-card-actions>
    </mat-card></div>
  