  <mat-card class="example-card">
    
    <mat-card-header>
      <mat-card-title><h2>{{'cLoginText'|translate}}</h2></mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <form class="example-form" [formGroup]="loginForm">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
              <input [(ngModel)]="loggedUser.email" matInput tpye="email" placeholder="Username" formControlName="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td>  <mat-form-field>
            <input [(ngModel)]="loggedUser.password"  matInput type="password" placeholder="Password" formControlName="password"  required>
            <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="password.hasError('minlength')">Password must have at least {{minPw}} characters</mat-error>
          </mat-form-field></td>
        </tr>
    </table>
      </form>
    </mat-card-content>
    
    <mat-card-actions>
      <button *ngIf="!password.hasError('required') && !password.hasError('minlength') && !username.hasError('required')" mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  
  </mat-card>
  
