
  <mat-toolbar color="primary">
    <mat-toolbar-row class="mat-tool-logo">
      <span><a href=""><img src="/assets/THD-Logo.png" height="50"></a></span>
      <span class="spacer"></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="false" fxShow.lt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <div fxShow="true" fxHide.lt-sm>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" mat-button routerLink="/navigation">{{'cNavigation'|translate}}</a>
        <a href="#" mat-button routerLink="/rooms">{{'cRooms'|translate}}</a>
        <a href="#" mat-button routerLink="/international">{{'cInternational'|translate}}</a>
        <a href="#" mat-button routerLink="/login">{{'cLogin'|translate}}</a>
        
      </div><span class="spacer"></span>
      <app-select-language></app-select-language>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fullscreen >
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item> <mat-icon>close</mat-icon></a>
        <a href="#" mat-list-item routerLink="/navigation">{{'cNavigation'|translate}}</a>
        <a href="#" mat-list-item routerLink="/rooms">{{'cRooms'|translate}}</a>
        <a href="#" mat-list-item routerLink="/international">{{'cInternational'|translate}}</a>
        <a href="#" mat-list-item routerLink="/login">{{'cLogin'|translate}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sn-content"><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>

