<mat-toolbar class="main-toolbar" color="primary">
  <mat-toolbar-row class="mat-tool-logo">
    <span ><a href=""><img src="/assets/THD-Logo.png"></a></span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="false" fxShow.lt-md>
      <mat-icon>menu</mat-icon>
    </button>

    <button  mat-button *ngFor="let item of menuItems" fxShow="true" fxShow.lt-md="false"
      routerLink="{{item.link}}" >
      <mat-icon class="mr">{{item.icon}}</mat-icon>
      {{ item.label | translate}}
    </button>

    <button  *ngIf="!_authService.loggedIn()" mat-button fxShow="true" fxShow.lt-md="false"
      routerLink='/register' >
      <mat-icon class="mr">person_add</mat-icon>
      {{ 'Register' | translate}}
    </button>

    <button  *ngIf="!_authService.loggedIn()" mat-button fxShow="true" fxShow.lt-md="false"
      routerLink='/login' >
      <mat-icon class="mr">login</mat-icon>
      {{ 'Login' | translate}}
    </button>

    <button  *ngIf="_authService.loggedIn()" mat-button fxShow="true" fxShow.lt-md="false"
     (click)="_authService.logoutUser()" >
      <mat-icon class="mr">mood_bad</mat-icon>
      {{ 'Logout' | translate}}
    </button>

    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container >
  <mat-sidenav #sidenav fullscreen class="app-sidenav mat-elevation-z10"
      mode="over" class="main-sidenav">
    <mat-nav-list>
      <mat-list-item *ngFor="let item of menuItems">
        <div fxShow="false" fxShow.lt-md  routerLink="{{item.link}}">
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon>{{item.icon}}</mat-icon>
              {{item.label | translate}}
          </button>
          <mat-divider></mat-divider>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="!_authService.loggedIn()">
        <div fxShow="false" fxShow.lt-md  routerLink='/register'>
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon>person_add</mat-icon>
              {{'Register' | translate}}
          </button>
          <mat-divider></mat-divider>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="!_authService.loggedIn()">
        <div fxShow="false" fxShow.lt-md  routerLink='/login'>
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon>login</mat-icon>
              {{'Login' | translate}}
          </button>
          <mat-divider></mat-divider>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="_authService.loggedIn()">
        <div fxShow="false" fxShow.lt-md>
          <button mat-button (click)="sidenav.toggle() && _authService.logoutUser()">
            <mat-icon>mood_bad</mat-icon>
              {{'Logout' | translate}}
          </button>
          <mat-divider></mat-divider>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content ><div class="main-content"><router-outlet></router-outlet></div></mat-sidenav-content>
</mat-sidenav-container>


