<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-tool-logo" color="primary">
    <span ><a href="http://localhost:4200/"><img src="/assets/THD-Logo.png"></a></span>
    <span class="spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row color="primary">

    <button mat-icon-button [matMenuTriggerFor]="dropMenu" [fxShow]="false" [fxShow.sm]="true" [fxShow.xs]="true">
      <mat-icon>menu</mat-icon>
    </button>

    <div fxShow="true" fxHide.lt-sm>
    
    <button mat-button fxShow="true" fxShow.lt-md="false"
      routerLink='/' >
      {{ 'Home' | translate}}
    </button>
    
    <button  *ngIf="_authService.loggedIn()" mat-button fxShow="true" fxShow.lt-md="false"
      routerLink='/admin' >
      {{ 'Profile' | translate}}
    </button>

    <button mat-button [matMenuTriggerFor]="dropMenu1" fxShow="true" fxShow.lt-md="false">
    {{ 'Navigation' | translate}}
  </button>

    <button  *ngIf="_authService.loggedIn()" mat-button fxShow="true" fxShow.lt-md="false"
      routerLink='/rooms' >
      {{ 'Room' | translate}}
    </button>

    <button  *ngIf="_authService.loggedIn()" mat-button fxShow="true" fxShow.lt-md="false"
      routerLink='/event' >
      {{ 'Events' | translate}}
    </button>

    <button  *ngIf="_authService.loggedIn()" mat-button fxShow="true" fxShow.lt-md="false"
      routerLink='/news' >
      {{ 'News' | translate}}
    </button>

    <button  *ngIf="!_authService.loggedIn()" mat-button fxShow="true" fxShow.lt-md="false"
      routerLink='/register' >
      {{ 'Register' | translate}}
    </button>

    <button  *ngIf="!_authService.loggedIn()" mat-button fxShow="true" fxShow.lt-md="false"
      routerLink='/login' >
      {{ 'Login' | translate}}
    </button>

    <button  *ngIf="_authService.loggedIn()" mat-button fxShow="true" fxShow.lt-md="false"
     (click)="_authService.logoutUser()" >
      <mat-icon class="mr">mood_bad</mat-icon>
      {{ 'Logout' | translate}}
    </button>
      
    </div><span class="spacer"></span>
    <app-select-language></app-select-language>


    
  <ng-container>
    
    <mat-menu #dropMenu="matMenu" color="primary">

      <ng-container>
        <div fxShow="false" fxShow.sm="true" fxShow.xs="true"  routerLink='/'>
          <button mat-menu-item>
            {{'Home' | translate}}
          </button>
          <mat-divider></mat-divider>
        </div>
      </ng-container>

      <ng-container *ngIf="_authService.loggedIn()">
        <div fxShow="false" fxShow.sm="true" fxShow.xs="true"  routerLink='/admin'>
          <button mat-menu-item>
            {{'Profile' | translate}}
          </button>
          <mat-divider></mat-divider>
        </div>
        </ng-container>

      <ng-container>
        <div fxShow="false" fxShow.sm="true" fxShow.xs="true">
          <button mat-menu-item [matMenuTriggerFor]="dropMenu1">
            {{'Navigation' | translate}}
          </button>
          <mat-divider></mat-divider>
        </div>
      </ng-container>

      <ng-container *ngIf="_authService.loggedIn()">
        <div fxShow="false" fxShow.sm="true" fxShow.xs="true"  routerLink='/rooms'>
          <button mat-menu-item>
            {{'Room' | translate}}
          </button>
          <mat-divider></mat-divider>
        </div>
        </ng-container>

      <ng-container *ngIf="_authService.loggedIn()">
      <div fxShow="false" fxShow.sm="true" fxShow.xs="true"  routerLink='/event'>
        <button mat-menu-item>
          {{'Events' | translate}}
        </button>
        <mat-divider></mat-divider>
      </div>
      </ng-container>

      <ng-container *ngIf="_authService.loggedIn()">
      <div fxShow="false" fxShow.sm="true" fxShow.xs="true"  routerLink='/news'>
        <button mat-menu-item>
          {{'News' | translate}}
        </button>
        <mat-divider></mat-divider>
      </div>
      </ng-container>

      <ng-container *ngIf="!_authService.loggedIn()">
      <div fxShow="false" fxShow.sm="true" fxShow.xs="true"  routerLink='/register'>
        <button mat-menu-item>
          {{'Register' | translate}}
        </button>
        <mat-divider></mat-divider>
      </div>
      </ng-container>

      <ng-container *ngIf="!_authService.loggedIn()">
      <div fxShow="false" fxShow.sm="true" fxShow.xs="true"  routerLink='/login'>
        <button mat-menu-item>
          {{'Login' | translate}}
        </button>
        <mat-divider></mat-divider>
      </div>
      </ng-container>

      <ng-container *ngIf="_authService.loggedIn()">
      <div fxShow="false" fxShow.sm="true" fxShow.xs="true">
        <button mat-menu-item (click)="_authService.logoutUser()">
          {{'Logout' | translate}}
        </button>
        <mat-divider></mat-divider>
      </div>
      </ng-container>


  </mat-menu>
</ng-container>

<ng-container>
    
      <mat-menu #dropMenu1="matMenu" color="primary">
  
        <ng-container>
        <div routerLink='/outdoor'>
          <button mat-menu-item>
            {{'Outdoor Navigation' | translate}}
          </button>
          <mat-divider></mat-divider>
        </div>
        </ng-container>
  
        <ng-container *ngIf="_authService.loggedIn()">
          <div routerLink='/indoor'>
            <button mat-menu-item>
              {{'Indoor Navigation' | translate}}
            </button>
            <mat-divider></mat-divider>
          </div>
        </ng-container>

        <ng-container *ngIf="_authService.loggedIn()">
          <div routerLink='/config'>
            <button mat-menu-item>
              {{'Config' | translate}}
            </button>
            <mat-divider></mat-divider>
          </div>
        </ng-container>

    </mat-menu>
  </ng-container>


</mat-toolbar-row>
</mat-toolbar>
