<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-tool-logo">
    <span ><a href="http://localhost:4200/"><img src="/assets/THD-Logo.png"></a></span>
    <span class="spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxShow="false" fxShow.lt-md>
      <mat-icon>menu</mat-icon>
    </button>
    <div fxShow="true" fxHide.lt-sm>
    <button  mat-button *ngFor="let item of menuItems" fxShow="true" fxShow.lt-md="false"
      routerLink="{{item.link}}" >
      {{ item.label | translate}}
    </button>

    <button  *ngIf="!_authService.loggedIn()" mat-button fxShow="true" fxShow.lt-md="false"
      routerLink='/register' >
      {{ 'Register' | translate}}
    </button>

    <button  *ngIf="!_authService.loggedIn()" mat-button fxShow="true" fxShow.lt-md="false"
      routerLink='/login' >
      {{ 'Login' | translate}}
    </button>

    <button  *ngIf="_authService.loggedIn()" mat-button fxShow="true" fxShow.lt-md="false"
     (click)="_authService.logoutUser()" >
      <mat-icon class="mr">mood_bad</mat-icon>
      {{ 'Logout' | translate}}
    </button>
      
    </div><span class="spacer"></span>
    <app-select-language></app-select-language>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
<mat-sidenav #sidenav fullscreen class="app-sidenav mat-elevation-z10"
      mode="over" class="main-sidenav">
    <mat-nav-list>
      <mat-list-item *ngFor="let item of menuItems">
        <div fxShow="false" fxShow.lt-md  routerLink="{{item.link}}">
          <button mat-button (click)="sidenav.toggle()">
              {{item.label | translate}}
          </button>
          <mat-divider></mat-divider>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="!_authService.loggedIn()">
        <div fxShow="false" fxShow.lt-md  routerLink='/register'>
          <button mat-button (click)="sidenav.toggle()">
              {{'Register' | translate}}
          </button>
          <mat-divider></mat-divider>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="!_authService.loggedIn()">
        <div fxShow="false" fxShow.lt-md  routerLink='/login'>
          <button mat-button (click)="sidenav.toggle()">
              {{'Login' | translate}}
          </button>
          <mat-divider></mat-divider>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="_authService.loggedIn()">
        <div fxShow="false" fxShow.lt-md>
          <button mat-button (click)="sidenav.toggle() && _authService.logoutUser()">
              {{'Logout' | translate}}
          </button>
          <mat-divider></mat-divider>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sn-content"><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
