
.spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  //padding: 20px;
  position: fixed;
  min-height: 100px !important; 
  height: 100px !important;
  z-index: 1;
}

mat-toolbar{
  span{
      img{
          padding-top: 10px;
          width: 100%;
          max-width: 300px;
          height: auto;
      }
  }
}

.header{
    
  top: 0;
  width: 100%;
  position: sticky;
  display:flex;
  justify-content:flex-end; 
  background-color: white;
  z-index: 999;
  
}