.main {
    margin: 10px;
}

.flexSpaceBetween {
  justify-content: space-around;
}

.spacer {
  flex: 1 1 auto;
}



.main-sidenav{
    height:400px;
}

mat-toolbar{
  span{
      img{
          height: 50px;
          padding-top:5px;
          padding-left: 10px;
      }
  }
}
.sn-content{
  padding-top:10px;
  padding-bottom: 40px;
  height:100vh;
  background-color: #ffffff;
}