.main-toolbar{
    padding: 20px;
   // min-height: 100px !important; 
    height: 100px !important;
    z-index: 500;
    position: sticky;    
    display: flex; 
    justify-content:flex-end; 
}
mat-toolbar{
    span{
        img{
            width: 100%;
            max-width: 400px;
            height: auto;
            padding-top:10px;
            padding-left: 3px;
        }
    }
}

  .main-content{
    //padding-top: 100px;
    padding-bottom: 10px;
    background-color: #ffffff;
    min-height:100vh;
}

.main-sidenav{
    z-index:1000;
}
