@import '../../custom-theme.scss';

//background: map-get($thd-palette-accent, 500);

.example-card {
    //max-width: 400px;
    margin-top: 10px;
    padding: 20px;
    background: map-get($thd-palette-primary,500);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 50%;
}

.example-full-width {
  width: 50%;
}
.example-header-image {
   // background: map-get($thd-palette-accent, 500);
   // background-size:cover;
    width:300px;
    height:300px;
}
.spacer {
    flex: 1 1 auto;
  }

  .example-card1 {
    max-height: 500px;
  //  z-index: 300;
    margin-top:20px; 
    min-width: 400px;
    max-width: 500px;
    margin-left: 30%;
  } 
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  a:link {
    color:black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: map-get($thd-palette-primary,50);
  }
  
  /* selected link */
  a:active {
    color: map-get($thd-palette-primary,50);
  }