
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="5px">
  <mat-card class="example-card" *ngFor="let event of events" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{event.event_name}}</mat-card-title>
      <!--<mat-card-subtitle></mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content routerLink = "/event">
      <p>
        {{event.event_desc}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="isUpdate(event._id)">Update</button>
      <button mat-button (click)="deleteEvent(event._id)">Delete</button>
    </mat-card-actions>
  </mat-card></div>
 
  <mat-divider></mat-divider>
  
  <button mat-button color="primary" (click)="isCreate()">
    Create
  </button>
    
<div class="create-event" *ngIf="isCreateButton">
<mat-card class="example-card1">
  
  <mat-card-header>
    <mat-card-title><h2>Create Event</h2></mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <form class="example-form" [formGroup]="createEventForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
            <input [(ngModel)]="CreateEvent.event_name" matInput tpye="text" placeholder="Eventname" formControlName="eventname" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
            <input [(ngModel)]="CreateEvent.event_desc" matInput tpye="textbox" placeholder="Eventdesc" formControlName="eventdesc" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
            <input [(ngModel)]="CreateEvent.event_date" matInput tpye="date" placeholder="Eventdate" formControlName="eventdate" required>
            </mat-form-field>
          </td>
        </tr>
  </table>
    </form>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-raised-button (click)="createEvent()" color="primary">Create Event</button>
  </mat-card-actions>

</mat-card>
</div>




<div class="update-event" *ngIf="isUpdateButton">
<mat-card class="example-card1">
  
  <mat-card-header>
    <mat-card-title><h2>Update Event</h2></mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <form class="example-form" [formGroup]="updateEventForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
            <input [(ngModel)]="UpdateFullEvent.UpdateEvent.event_name" matInput tpye="text" placeholder="Eventname" formControlName="eventname" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
            <input [(ngModel)]="UpdateFullEvent.UpdateEvent.event_desc" matInput tpye="textbox" placeholder="Eventdesc" formControlName="eventdesc" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
            <input [(ngModel)]="UpdateFullEvent.UpdateEvent.event_date" matInput tpye="date" placeholder="Eventdate" formControlName="eventdate" required>
            </mat-form-field>
          </td>
        </tr>
  </table>
    </form>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-raised-button (click)="updateEvent()" color="primary">Update Event</button>
  </mat-card-actions>

</mat-card>
</div>

